.container {
  padding: 20px 30px;
}

.main-content {
  display: grid;
  gap: 50px;
  justify-items: start;
  grid-template-columns: 4fr 2fr;
}

@media (max-width: 850px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}
