* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.comments-section-mob {
  display: none;
}

@media (max-width: 850px) {
  .comments-section-mob {
    display: flex;
  }
}

.comments-section-screen {
  display: flex;
}

@media (max-width: 850px) {
  .comments-section-screen {
    display: none;
  }
}
